@use "./variables" as *;

@mixin image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@mixin gradient($deg, $pri, $sec) {
  background-color: linear-gradient($deg, $pri, $sec);
}

@mixin box-shadow() {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@mixin dark($opacity) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, $opacity);
  pointer-events: none;
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
