@use "sass:color";
// Color Variables
$primary-color: #1b5e20; // Dark Green (Trust & Stability)
$secondary-color: #43a047; // Emerald Green (Modern & Fresh)
$accent-color: #c0e218; // Lime Green (CTA & Highlights)
$background-color: #f1f8e9; // Soft Gray/White (Clean & Minimal)
$text-color: #333333; // Dark Gray (Readable)
$button-hover: color.scale($accent-color, $lightness: -20.4%);
$success: $secondary-color;
$error: red;

//breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
