@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;
@use "../helpers/responsive" as *;

.sidebar-container {
  @include flex($justify: center);
  align-items: flex-start;
  background-color: rgba($primary-color, 0.8);
  height: calc(100vh - 3rem);
  width: 100%;
}

.sidebar-wrapper {
  text-align: center;
}
.sidebar-home {
  padding: 0.5rem;
  &__hometab {
    padding: 0.5rem;
    cursor: pointer;
    &--icon {
      @include flex($justify: center);
      width: 40px;
      height: 40px;
      border-radius: 10px;
      margin: 0 auto;
      font-size: 1.3rem;
      transition: all 0.45s ease-in-out;
      @include small-screen {
        width: 30px;
        height: 30px;
        font-size: 1rem;
      }
      svg {
        fill: $background-color;
      }
      &.active {
        @include box-shadow;
        background-color: rgba($primary-color, 0.5);
      }
    }
    &--title {
      font-size: 0.7rem;
      @include small-screen {
        display: none;
      }
      span {
        color: #ebe8e8;
      }
    }
  }
  &__dmtab {
    padding: 0.5rem;
    cursor: pointer;
    &--icon {
      @include flex($justify: center);
      width: 40px;
      height: 40px;
      border-radius: 10px;
      margin: 0 auto;
      font-size: 1.3rem;
      @include small-screen {
        width: 30px;
        height: 30px;
        font-size: 1rem;
      }
      svg {
        fill: $background-color;
      }
      &.active {
        @include box-shadow;
        background-color: rgba($primary-color, 0.5);
      }
    }
    &--title {
      font-size: 0.7rem;
      @include small-screen {
        display: none;
      }
      span {
        color: #ebe8e8;
      }
    }
  }
  &__notifications {
    padding: 0.5rem;
    cursor: pointer;
    &--icon {
      @include flex($justify: center);
      width: 40px;
      height: 40px;
      border-radius: 10px;
      margin: 0 auto;
      font-size: 1.3rem;
      @include small-screen {
        width: 30px;
        height: 30px;
        font-size: 1rem;
      }
      svg {
        fill: $background-color;
      }
      &.active {
        @include box-shadow;
        background-color: rgba($primary-color, 0.5);
      }
    }
    &--title {
      font-size: 0.7rem;
      @include small-screen {
        display: none;
      }
      span {
        color: #ebe8e8;
      }
    }
  }
}
