@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;
@use "../helpers/responsive" as *;

.text-editor {
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;

  &__btn {
    width: 80px;
    margin-left: auto;
    margin-top: 0.2rem;
    .btn-wrapper.btn-wrapper-sm {
      margin-left: auto;
    }
    svg {
      fill: white;
    }
  }
}
