@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;
@use "../helpers/responsive" as *;

.dashboard-container {
  background-color: rgba($primary-color, 0.8);
  width: 100%;
  height: 100vh;
}
.dashboard-main-section {
  @include flex($justify: space-between);
}

.dashboard-right {
  width: 70px;
  transition: all 0.5s ease-in-out;
  @include small-screen {
    width: 50px;
  }
}
.dashboard-left {
  @include flex($justify: space-between);
  position: relative;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: $background-color;
  height: calc(98vh - 3rem);
  width: 100%;
  border-radius: 10px;
  margin-right: 0.5rem;
  overflow: hidden;
}
.dashboard-tab {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: scroll;
  border-top-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.dashboard-content {
  @include flex($justify: flex-start);
  flex-direction: column;
  position: relative;
  width: 85%;
  height: calc(98vh - 3.2rem);
  box-sizing: border-box;
}
.dashboard-tabs {
  @include flex($justify: flex-start);
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  overflow: scroll;
  &__room {
    @include flex($justify: center);
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 0.7rem;

    &--title {
      display: block;
      font-size: 0.7rem;
      font-weight: 600;
      color: white;
      padding-left: 0.5rem;
    }
    &--icon {
      @include flex($justify: center);
      font-size: 0.7rem;
      svg {
        fill: white;
      }
    }
  }
  &__channel {
    @include flex($justify: flex-start);
    flex-direction: column;
    width: 100%;
    font-size: 0.7rem;

    &--tab {
      @include flex($justify: flex-start);
      gap: 0.3rem;
      width: 100%;
      border-radius: 3px;
      padding: 0.3rem 0.5rem;
      transition: all 0.2s linear;
      cursor: pointer;

      &:hover {
        background-color: rgba($primary-color, 0.1);
      }
      &.active svg {
        transform: rotate(271deg);
      }

      .icon {
        @include flex($justify: center);
        gap: 0.5rem;
        font-size: 0.8rem;
      }
    }
    &--lists {
      @include flex($justify: flex-start);
      gap: 0.3rem;
      width: 100%;
      border-radius: 3px;
      padding: 0.3rem 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: rgba($primary-color, 0.1);
      }

      &.active {
        background-color: rgba($primary-color, 0.4);
      }
    }
    &--add {
      @include flex($justify: flex-start);
      gap: 0.3rem;
      width: 100%;
      border-radius: 3px;
      padding: 0.3rem 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: rgba($primary-color, 0.1);
      }

      &.active {
        background-color: rgba($primary-color, 0.4);
      }
    }
  }
  &__tab {
    align-self: flex-start;
    font-size: 0.7rem;
    padding-left: 0.5rem;
  }
}

.tabs-lists {
  @include flex($justify: flex-start);
  flex-direction: column;
  width: 100%;
  height: 0;
  visibility: hidden;
  // transition: all 0.5s linear;
  pointer-events: none;

  &.active {
    height: 100%;
    visibility: visible;
    pointer-events: auto;
    animation: slideDownFromTop 1.5s ease-out forwards;
  }
}

.dashboard-tabs-dm {
  @include flex($justify: flex-start);
  flex-direction: column;
  width: 100%;
}
.dashboard-tabs-dm-title {
  @include flex($justify: flex-start);
  gap: 0.3rem;
  font-size: 0.7rem;
  width: 100%;
  padding: 0.2px 0.5rem;
  cursor: pointer;
  .icon {
    @include flex($justify: center);
    gap: 0.5rem;
    font-size: 0.8rem;
  }
  &.active svg {
    transform: rotate(271deg);
  }
}

.dashboard-tabs-dm-dropdown {
  @include flex($justify: flex-start);
  width: 100%;
  height: 0;
  pointer-events: none;
  visibility: hidden;
  &.active {
    height: 100%;
    visibility: visible;
    pointer-events: auto;
    animation: slideDownFromTop 1.5s ease-out forwards;
  }
}

.dashboard-tabs-dm-details {
  @include flex($justify: flex-start);
  flex-direction: column;
  width: 100%;
  gap: 0.3rem;
  font-size: 0.7rem;
}

.dashboard-tabs-user {
  @include flex($justify: flex-start);
  width: 100%;
  gap: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5px;
  border-radius: 3px;

  cursor: pointer;
  &:hover {
    background-color: rgba($primary-color, 0.1);
  }

  &.active {
    background-color: rgba($primary-color, 0.4);
  }
  &__avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    img {
      @include image();
    }
  }
}

.dashboard-tabs-addUser {
  @include flex($justify: flex-start);
  width: 100%;
  gap: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: rgba($primary-color, 0.1);
  }

  &.active {
    background-color: rgba($primary-color, 0.4);
  }
  span {
    display: block;
  }
}
@keyframes slideDownFromTop {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.dashboard-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.dashboard-footer {
  width: 100%;
}
